@page "/felhasznalok"
@layout AdminLayout

<header class="page-header text-center">
    <h1>Felhasználók Kezelése</h1>
    <p>Kollégisták adatbázisa.</p>
</header>

<div class="content-wrapper">
    <div class="card">
        <table class="data-table">
            <thead>
                <tr>
                    <th>Név</th>
                    <th>Szoba</th>
                    <th>Email</th>
                    <th>Szerepkör</th>
                    <th>Művelet</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>[Név helye]</td>
                    <td>[Szoba helye]</td>
                    <td>[Email helye]</td>
                    <td>
                        <span class="role-badge role-student">[Szerepkör helye (student)]</span>
                    </td>
                    <td>
                        <button class="action-btn"><i class="bi bi-pencil"></i></button>
                    </td>
                </tr>
                <tr>
                    <td>[Név helye]</td>
                    <td>[Szoba helye]</td>
                    <td>[Email helye]</td>
                    <td>
                        <span class="role-badge role-student">[Szerepkör helye (student)]</span>
                    </td>
                    <td>
                        <button class="action-btn"><i class="bi bi-pencil"></i></button>
                    </td>
                </tr>
                <tr>
                    <td>[Név helye]</td>
                    <td>[Szoba helye]</td>
                    <td>[Email helye]</td>
                    <td>
                        <span class="role-badge role-admin">[Szerepkör helye (admin)]</span>
                    </td>
                    <td>
                        <button class="action-btn"><i class="bi bi-pencil"></i></button>
                    </td>
                </tr>
                <tr>
                    <td>[Név helye]</td>
                    <td>[Szoba helye]</td>
                    <td>[Email helye]</td>
                    <td>
                        <span class="role-badge role-maintenance">[Szerepkör helye (maintenance)]</span>
                    </td>
                    <td>
                        <button class="action-btn"><i class="bi bi-pencil"></i></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

@code {

}